<footer class="container-fluid bg-grey py-5">
    <div class="container">
       <div class="row">
          <div class="col-md-6">
             <div class="row">
                <div class="col-md-6 ">
                   <div class="logo-part">
                      <img src="./assets/images/img26.jpg" class="w-50 logo-footer" >
                      <p>ADDRESS:

                         petrol bump lashkar bazaar bheemaram road opposite BigC
                    Hanamkonda 506001</p>
                      <p>Use this tool as test data for an automated system or find your next pen</p>
                   </div>
                </div>
                <div class="col-md-6 px-4">
                   <h6> About Restaurant</h6>
                   <p>OPENING HOURS:

                    Mon: Closed
                    Tue - Thu: 6pm - 10pm
                    Fri & Sat: 6pm - 10:30pm
                    Sun: 5pm - 9pm
                    CONTACT: 
                    0208 744 3868
                    info@twobrothers-indiancuisine.com
                    FOLLOW
                    </p>
                   <a href="reviews" class="btn-footer"> More Info </a><br>
                   <a href="contactus" class="btn-footer"> Contact Us</a>
                </div>
             </div>
          </div>
          <div class="col-md-6">
             <div class="row">
                <div class="col-md-6 px-4">
                   <h6> Help us</h6>
                   <div class="row ">
                      <div class="col-md-6">
                         <ul>
                            <li> <a href="home"> Home</a> </li>
                            <li> <a href="#"> About</a> </li>
                            <li> <a href="ordernow"> Service</a> </li>
                            <li> <a href="menuamenubmenuc"> Team</a> </li>
                            <li> <a href="#"> Help</a> </li>
                            <li> <a href="contactus"> Contact</a> </li>
                         </ul>
                      </div>
                      <div class="col-md-6 px-4">
                         <ul>
                            <li> <a href="#">Takeaway orders</a> </li>
                            <li> <a href="#">Dine in</a> </li>
                            <li> <a href="#"> Terms</a> </li>
                            <li> <a href="#"> Policy</a> </li>
                            <li> <a href="#"> Refunds</a> </li>
                            <li> <a href="#"> Paypal</a> </li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="col-md-6 ">
                   <h6> Newsletter</h6>
                   <div class="social">
                      <a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                      <a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                   </div>
                   <form class="form-footer my-3">
                      <input type="text"  placeholder="search here...." name="search">
                      <input type="button" value="Go" >
                   </form>
                   <p>© All Rights Reserved. Powered By Hats-Off Digital.</p>
                </div>
             </div>
          </div>
       </div>
    </div>