body{
    background-color:darkorange;
    height:2000px;
    background-position: center;
    background-attachment: fixed;
    font-style:oblique;
}

h1{
    text-align: center;
    font: size 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:italic;
    color: burlywood;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  h2{
      text-align: center;
      color: wheat;
      text-align: center;
  }