<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>BIRIYANI & RICE</h1>
        <table class="table table-bordered table-striped table-hover">
            <tr>
                <th>s:no</th>
                <th>name</th>
                <th>price</th>
            </tr>
            <tr>
                <th>1</th>
                <th><img src="./assets/images/img8.jpg" alt="no img" width="60px" height="60px">Chicken Dum Biriyani</th>
                <th>₹180</th>
            </tr>
            <tr>
                <th>2</th>
                <th><img src="./assets/images/img43.jpg" alt="no img" width="60px" height="60px">Chicken Boneless Biriyani</th>
                <th>₹210</th>
            </tr>
            <tr>
                <th>3</th>
                <th><img src="./assets/images/img44.jpg" alt="no img" width="60px" height="60px">Gongura chicken Biriyani</th>
                <th>₹200</th>
            </tr>
            <tr>
                <th>4</th>
                <th><img src="./assets/images/img6.jpg" alt="no img" width="60px" height="60px">Mutton Biriyani</th>
                <th>₹180</th>
            </tr>
            <tr>
                <th>5</th>
                <th><img src="./assets/images/img45.jpg" alt="no img" width="60px" height="60px">Steamed rice with Natu kodi Pulusu</th>
                <th>₹300</th>
            </tr>
            <tr>
                <th>6</th>
                <th><img src="./assets/images/img46.jpg" alt="no img" width="60px" height="60px">Mutton kheema</th>
                <th>₹190</th>
            </tr>
            <tr>
                <th>7</th>
                <th><img src="./assets/images/img47.jpg" alt="no img" width="60px" height="60px">Chicken Thali</th>
                <th>₹150</th>
            </tr>
            <tr>
                <th>8</th>
                <th><img src="./assets/images/img48.jpg" alt="no img" width="60px" height="60px">Prawns Biriyani</th>
                <th>₹170</th>
            </tr>
        </table>
        <h2>ROTI'S & CURRY</h2>
        <table class="table table-bordered table-striped table-hover">
            <tr>
         <th>1</th>
         <th><img src="./assets/images/img37.jpg" alt="no img" width="60px" height="60px">Butter Naan</th>
         <th>₹30</th>
     </tr>
     <tr>
      <th>2</th>
      <th><img src="./assets/images/img38.jpg" alt="no img" width="60px" height="60px">Butter Kulcha Naan</th>
      <th>₹40</th>
     </tr>
     <tr>
         <th>3</th>
         <th><img src="./assets/images/img40.jpg" alt="no img" width="60px" height="60px">Plain Naan</th>
         <th>₹25</th>
     </tr>
     <tr>
         <th>4</th>
         <th><img src="./assets/images/img40.jpg" alt="no img" width="60px" height="60px">Chicken Curry</th>
         <th>₹130</th>
     </tr>
     <tr>
         <th>5</th>
         <th><img src="./assets/images/img49.jpg" alt="no img" width="60px" height="60px">Chicken Fry</th>
         <th>₹180</th>
     </tr>
     <tr>
         <th>6</th>
         <th><img src="./assets/images/img17.jpg" alt="no img" width="60px" height="60px">Fish Fry</th>
         <th>₹200</th>
     </tr>
     <tr>
         <th>7</th>
         <th><img src="./assets/images/img50.jpg" alt="no img" width="60px" height="60px">Boti Fry</th>
         <th>₹140</th>
     </tr>
     <tr>
         <th>8</th>
         <th><img src="./assets/images/img16.jpg" alt="no img" width="60px" height="60px">Fish Curry</th>
         <th>₹140</th>
     </tr>
        </table>
        </div>
        <p>12.5% Discretionary Service Charge on group of 8 or more.</p>
        <img class="rounded-circle float-right" src="./assets/images/img15.jpg" alt="no img">
        <img class="rounded img-fluid" src="./assets/images/img16.jpg" alt="no img">
        <img class="img-thumbnail mx-auto d-block" src="./assets/images/img17.jpg" alt="no img">
</body>
</html>