<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
   <h1>BIRIYANI & RICE</h1>
   <table class="table table-bordered table-striped table-hover">
       <tr>
           <th>s:no</th>
           <th>name</th>
           <th>price</th>
       </tr>
       <tr>
           <th>1</th>
           <th><img src="./assets/images/img31.jpg" alt="no img" width="60px" height="60px">Vegetable Dum Biriyani</th>
           <th>₹100</th>
       </tr>
       <tr>
           <th>2</th>
           <th><img src="./assets/images/img32.jpg" alt="no img" width="60px" height="60px">Paneer Biriyani</th>
           <th>₹130</th>
       </tr>
       <tr>
           <th>3</th>
           <th><img src="./assets/images/img33.jpg" alt="no img" width="60px" height="60px">Mushroom Biriyani</th>
           <th>₹160</th>
       </tr>
       <tr>
           <th>4</th>
           <th><img src="./assets/images/img34.jpg" alt="no img" width="60px" height="60px">Veg Pulao</th>
           <th>₹120</th>
       </tr>
       <tr>
           <th>6</th>
           <th><img src="./assets/images/img35.jpg" alt="no img" width="60px" height="60px">Curd Rice</th>
           <th>₹80</th>
       </tr>
       <tr>
           <th>7</th>
           <th><img src="./assets/images/img36.jpg" alt="no img" width="60px" height="60px">Veg Thali</th>
           <th>₹100</th>
       </tr>
       <tr>
   </table>
   <h2>ROTI'S & CURRY</h2>
   <table class="table table-bordered table-striped table-hover">
       <tr>
    <th>1</th>
    <th><img src="./assets/images/img37.jpg" alt="no img" width="60px" height="60px">Butter Naan</th> 
    <th>₹30</th>
</tr>
<tr>
 <th>2</th>
 <th><img src="./assets/images/img38.jpg" alt="no img" width="60px" height="60px"> Butter Kulcha Naan</th>
 <th>₹40</th>
</tr>
<tr>
    <th>3</th>
    <th><img src="./assets/images/img40.jpg" alt="no img" width="60px" height="60px">Plain Naan</th>
    <th>₹25</th>
</tr>
<tr>
    <th>4</th>
   <th><img src="./assets/images/img19.jpg" alt="no img" width="60px" height="60px">Paneer Butter Masala</th>
   
    <th>₹160/₹180</th>
</tr>
<tr>
    <th>5</th>
    <th><img src="./assets/images/img39.jpg" alt="no img" width="60px" height="60px">Paneer Tikka Masala</th>
    <th>₹200</th>
</tr>
<tr>
    <th>6</th>
    <th><img src="./assets/images/img18.jpg" alt="no img" width="60px" height="60px">Malai koftha</th>
    <th>₹130</th>
</tr>
<tr>
    <th>7</th>
    <th><img src="./assets/images/img42.jpg" alt="no img" width="60px" height="60px">kadai Paneer</th>
    <th>₹140</th>
</tr>
<tr>
    <th>8</th>
    <th><img src="./assets/images/img41.jpg" alt="no img" width="60px" height="60px">Egg masala</th>
    <th>₹90</th>
</tr>
   </table>
   <p>12.5% Discretionary Service Charge on group of 8 or more.</p>
   </div>
   <img class="rounded-circle float-right" src="./assets/images/img19.jpg" alt="no img">
   <img class="rounded img-fluid" src="./assets/images/img22.jpg" alt="no img">
   <img class="img-thumbnail mx-auto d-block" src="./assets/images/img2.jpg"alt="no img" width="250px" height="200px">
</body>
</html>