<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<img src="./assets/images/img26.jpg" alt="no img" width="200px" height="100px" class="center">
<h1>MENU:A</h1>
<h2> Pre starters</h2>
<p>poppadums& fresh herbs chutneys</p>
<h2>STARTERS()</h2>
<table style="width:100%" border="2">
    <tr>
      <td>Chicken Tikka</td>
      <td>Seekh Kebab</td> 
      <td>Fish Amritsari</td>
    </tr>
    <tr>
      <td>Onion Bhaaji</td>
      <td>Dahi Puri</td> 
      <td>Mixed Veg. Tikkis</td>
    </tr>
    <tr>
  </table><br><br>

  <h2>MAINS()</h2>
  <table style="width:100%" border="2">
    <tr>
      <td>Lamb Rogan Josh</td>
      <td>Chicken Jalfrezi</td> 
      <td>Chana Masala</td>
    </tr>
    <tr>
      <td>Lamb Saagwala</td>
      <td>Chicken Tikka Makhani</td> 
      <td>Saag</td>
    </tr>
  </table><br><br><br>

  <h2>ACCOMPANIMENTS()</h2>
  <table style="width:100%" border="2">
    <tr>
      <td>Dal Tadka</td>
      <td>Steamed Rice</td> 
      <td>Naan</td>
    </tr>
    <tr>
      <td>Dal Makhani</td>
      <td>Pulao Rice</td> 
      <td>Garlic Naan</td>
    </tr>
  </table><br><br><br>
  <img class="rounded-circle float-right" src="./assets/images/img12.jpg" alt="no img">
  <img class="rounded img-fluid" src="./assets/images/img13.jpg" alt="no img">
  <img class="img-thumbnail mx-auto d-block" src="./assets/images/img10.jpg" alt="no img" width="250px" height="200px">

<P>Adults 20₹|Children(4-12y)₹12.50</P><br><br>
<p>                        VEGAN Options available.
    If you suffer from any allergies or intolerance please advise when you select the menu.</p><br><br><br><br>


    *This Menu is only available for groups of 8 or more. One menu is applicable for the entire group. Selected dishes will be served for sharing and any leftover food cannot be taken away.
    All prices are inclusive of VAT. A discretionary service charge of 12.5% will be added to your bill.  
</body>
</html>
