<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>contact</h1>
   <marquee width="60%" direction="right" height="100px">
    27 York Street , Twickenham, TW1 3JZ Tel : 0208 744 3868</marquee>
   <h3>Get in Touch!</h3>
   <marquee width="60%" direction="left" height="100px">
    Opening Hours - Mon: Closed, Tue - Thu: 6pm - 10pm, Fri & Sat: 6pm - 10:30pm, Sun: 5pm - 9pm</marquee>
   <img src="./assets/images/img10.jpg" alt="no img" height="400px" width="450px" class="center"><br><br>

    <div class="center"><iframe width="800" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=lakshmi%20talkies%20road%20mahabubabad+(Two%20brothers%20)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://www.maps.ie/draw-radius-circle-map/"></a></div>
   <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
          <div class="card-img-left d-none d-md-flex"> 
   <div class="card-body p-4 p-sm-5">
             <form>
              <h2>Get in Touch!</h2>
                <div class="form-floating mb-3">
                    <label for="floatingInputname">Name</label>
                  <input type="text" class="form-control" id="floatingInputUsername" placeholder="name" required autofocus>
                </div>
  
                <div class="form-floating mb-3">
                    <label for="floatingInputEmail">Email address</label>
                  <input type="email" class="form-control" id="floatingInputEmail" placeholder="name@example.com">
                </div>

                
                <div class="form-floating mb-3">
                    <label for="floatingPhone">Phone</label>
                    <input type="phone" class="form-control" id="floatPhone" placeholder="Phone">
                </div>

                <div class="form-floating mb-3">
                  
                    <label for="floatingmessage">Message</label>
                    <input type="message" class="form-control" id="floatmessage" placeholder="message">
                </div>
                