<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
<div class="col-lg-10 offset-lg-1 pt-5 pb-5 bg-dark text-light">
    <div id="client-testimonial-carousel" class="carousel slide" data-ride="carousel" style="height:200px;">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active text-center p-4">
          <blockquote class="blockquote text-center">
            <p class="mb-0"><i class="fa fa-quote-left"></i> 
              We like to go to The Two brothers every time we come to the Cape. The food is always delicious! This is the first year we could make reservations (probably due to spacing because of the virus). Our waitress, Casey, was great!
            </p>
            <footer class="blockquote-footer">Priya Pandey <cite title="Source Title"></cite></footer>
            <!-- Client review stars -->
            <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
            <p class="client-review-stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </p>
          </blockquote>
        </div>
        <div class="carousel-item text-center p-4">
        <blockquote class="blockquote text-center">First time in (RN) and YOU have to go! It’s the cutest little spot with amazing food. The (FN) is to die for. IT WAS FIRE!! The service we received was so amazing and we will definitely be back again. They made us feel welcomed and gave us an amazing experience.
            <footer class="blockquote-footer">Mohana priya<cite title="Source Title"></cite></footer>
            <!-- Client review stars -->
            <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
            <p class="client-review-stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </p>
          </blockquote>
        </div>
        <div class="carousel-item text-center p-4">
          <blockquote class="blockquote text-center">
            <p class="mb-0"><i class="fa fa-quote-left"></i>I am very happy to come to your restaurant the food was very tasty and delicious service also superb. I will give five star rating
            </p>
            <footer class="blockquote-footer">Amaresh babu<cite title="Source Title"></cite></footer>
            <!-- Client review stars -->
            <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
            <p class="client-review-stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </p>
          </blockquote>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#client-testimonial-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#client-testimonial-carousel" data-slide-to="1"></li>
        <li data-target="#client-testimonial-carousel" data-slide-to="2"></li>
      </ol>
    </div>
   </div>