<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img19.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">price</span> <span class="float-end price-hp">₹150.00</span> </div>
                        <h5 class="card-title">Paneer curry</h5>
                        <div class="text-center my-4"> <a href="cart" class="btn btn-warning">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img20.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">price</span> <span class="float-end price-hp">₹70.00</span> </div>
                        <h5 class="card-title">Chicken65</h5>
                        <div class="d-grid gap-2 my-4"> <a href="cart" class="btn btn-warning">Add to cart</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img21.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">price</span> <span class="float-end price-hp">₹100.00</span> </div>
                        <h5 class="card-title">chicken lollipop</h5>
                        <div class="d-grid gap-2 my-4"> <a href="cart" class="btn btn-warning">Add to cart</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img22.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">price</span> <span class="float-end price-hp">₹70.00</span> </div>
                        <h5 class="card-title">Egg 65</h5>
                        <div class="d-grid gap-2 my-4"> <a href="cart" class="btn btn-warning">Add to cart</a> </div>
                    </div>
                </div>
            </div><br><br>
            <br><br>

            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img23.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Price</span> <span class="float-end price-hp">₹130.00</span> </div>
                        <h5 class="card-title">Fried chicken</h5>
                        <div class="d-grid gap-2 my-4"> <a href="cart" class="btn btn-warning">Add to cart</a> </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img17.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">price</span> <span class="float-end price-hp">₹120.00</span> </div>
                        <h5 class="card-title">fish fry</h5>
                        <div class="d-grid gap-2 my-4"> <a href="cart" class="btn btn-warning">Add to cart</a> </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img15.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">price</span> <span class="float-end price-hp">₹180.00</span></div>
                        <h5 class="card-title">Chicken Curry</h5>
                        <div class="d-grid gap-2 my-4"> <a href="cart" class="btn btn-warning">Add to cart</a> </div>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img18.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">price</span> <span class="float-end price-hp">₹110.00</span> </div>
                        <h5 class="card-title">Malai koftha</h5>
                        <div class="d-grid gap-2 my-4"> <a href="cart" class="btn btn-warning">Add to cart</a> </div>
                    </div>
                </div>
            </div>