<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4 id="B"> ATLEAST 5% OFF ALL ONLINE ORDERS..!</h4>
    <img src="./assets/images/img26.jpg" alt="no img" width="450px"><br>
    <button id="btn" type="button" class="btn btn-info" data-toggle="modal" data-target="#ex">Order food</button>
    
    <div class="container">
        <div class="modal fade" id="ex" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="exp lable">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title" id="exp lable">Welcome</div>
                      <img src="./assets/images/img24.jpg" alt="no img" class="center">
                    </div> 
                    <img src="./assets/images/img25.jpg" alt="no img">                 
                    <div class="modal-footer">
                    <a href="ordernow" class="btn btn-info btn-arrow-right" role="button">ordernow</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
     <marquee id="S"><h4>Atidhi' means guest, the word is taken from an ancient Sanskrit verse 'Atithi Devo Bhava' which simply means – consider the guest as god. Our team strive to run Atithi on this ethos, by providing our guests, authentically prepared quality Indian food with a friendly and efficient service.</h4></marquee>